@font-face {
  font-family: 'ptr';
  src: url('font/ptr.eot?2850022');
  src: url('font/ptr.eot?2850022#iefix') format('embedded-opentype'),
       url('font/ptr.woff?2850022') format('woff'),
       url('font/ptr.ttf?2850022') format('truetype'),
       url('font/ptr.svg?2850022#ptr') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ptr_scrollable {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(1px);
}

.ptr_scrollable .ptr_wrap {
  min-height: 100%;
  padding-bottom: 1px;
  -webkit-transform: translateZ(0);
  user-select: none;
}

.ptr_wrap {
  position: relative;
}

.ptr_box {
  position: absolute;
  top: -40px;
  display: block;
  height: 55px;
  left: 0px;
  right: 0;
  overflow: hidden;
}

.ptr_container {
  position: relative;
  width: 120px;
  margin: auto;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.ptr_text {
  font-size: 14px;
}

.ptr_image {
  position: absolute;
  top: 0px;
  left: 12px;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: center center;
  transition: -webkit-transform .2s linear;
}

.ptr_image:before {
  font-family: "ptr";
  font-size: 25px;
  text-align: center;
  line-height: 40px;
  content: '\e802';
}

.ptr_image.ptr_rotate {
  -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
}

.ptr_image.ptr_loading {
  animation: spin 0.8s infinite linear;
}

.ptr_image.ptr_loading:before {
  content: '\e800';
  font-size: 18px;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0) rotate(360deg);
  }
}
